<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL__</string>

    <key>ProgramArguments</key>
    <array>
        <string>__PYTHON_BIN__</string>
        <string>__SERVER_SCRIPT__</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__WORKING_DIR__</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>

    <key>StandardOutPath</key>
    <string>__LOG_DIR__/stdout.log</string>

    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONUNBUFFERED</key>
        <string>1</string>
        <key>PORT</key>
        <string>__PORT__</string>
        <key>HOST</key>
        <string>__HOST__</string>
    </dict>

    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
